@import "~bootstrap/scss/bootstrap-grid.scss";

$theme-colors: (
  "primary": #FFDC40,
  "secondary": #33FFF1
);

$color-dark-grey: #333;
$color-light-grey: #bbb;
$color-green: #59FF97;

$color-primary-active: #36e275;
$color-outline: $color-dark-grey;
$color-green-active: #ffe368;
$color-background: #FFF9E0;
$color-logo: #5757FF;

$border-standard-width: 4px;
$border-standard-color: $color-outline;
$border-standard-radius: 1.15rem;

@include media-breakpoint-up(sm) {
  .button-standard {
    max-width: 30% !important;
  }
}

html {
  background-color: $color-background;
  // overflow: hidden;
}

h1 {
  font-weight: 900 !important;
  color: $color-dark-grey;
}

.App {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -55%);

  background-color: $color-background;
  text-align: center;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 10px;
}

#app-container {
  max-width: 500px;
  border: $color-outline;
}

ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

#logo-stack {
  display: flex;
  justify-content: left;
}

.logo-text {
  margin-bottom: 10px;
  margin-top: 10px;
  align-self: flex-start;
  color: $color-dark-grey;
  // color: $color-logo;

  // font-family: "hwt-gothic-round", sans-serif;
  // font-weight: 900;
  // font-style: normal;
  font-family: "sofia-pro-soft", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.optional-text {
  font-size: 0.75rem;
  padding-left: 1.5rem;
  margin-top: -0.2rem !important;
  color: $color-light-grey;
}

// .app-card {
//   background-color: $color-background;
// }

.border-standard {
  border-width: $border-standard-width !important;
  border-color: $border-standard-color !important;
  border-radius: $border-standard-radius !important;
}

.button-standard {
  max-width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;

  font-weight: 700 !important;
}

.button-group-primary {
  width: 100%;
}

.toggle-button-primary {
  width: 100%;

  color: $color-dark-grey !important;

  border-color: $border-standard-color !important;
  border-width: $border-standard-width !important;
  border-radius: $border-standard-radius !important;
  padding-left: 10px;

  margin-bottom: 1rem;
}

.form-control::placeholder {
  color: $color-light-grey !important;
}

#weightInput,
#foodInput {
  border-top-left-radius: $border-standard-radius;
  border-bottom-left-radius: $border-standard-radius;

  border-top-width: $border-standard-width;
  border-left-width: $border-standard-width;
  border-bottom-width: $border-standard-width;
  border-right-width: 2px;

  border-color: $border-standard-color;

  font-weight: 700 !important;
}

#weightDropdown {
  border-top-right-radius: $border-standard-radius;
  border-bottom-right-radius: $border-standard-radius;

  border-top-width: $border-standard-width;
  border-right-width: $border-standard-width;
  border-bottom-width: $border-standard-width;

  border-color: $border-standard-color;

  width: 4rem;

  font-weight: 700 !important;

  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    background-color: #36e275;
  }
}

#foodDropdown {
  border-top-right-radius: $border-standard-radius;
  border-bottom-right-radius: $border-standard-radius;

  border-top-width: $border-standard-width;
  border-right-width: $border-standard-width;
  border-bottom-width: $border-standard-width;

  border-color: $border-standard-color;

  font-weight: 700 !important;

  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    background-color: #36e275;
  }
}

// Disable buttons on weight input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#submitButton {
  background-color: $color-green;
  font-weight: 700 !important;
  color: $border-standard-color;
  height: 44px;
  width: 5rem;
  padding-left: 3px;
  padding-right: 3px;

  &:disabled {
    background-color: #aaa;
    &:active {
      background-color: #aaa;
    }
  }

  &:active {
    background-color: $color-green-active;
  }
}

#calorie-result,
#food-result {
  font-weight: 900 !important;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";
