$theme-colors: (
  "primary": #FFDC40,
  "secondary": #33FFF1
);

$color-primary-active: #36e275;
$color-dark: #333;
$color-outline: $color-dark;
$color-blue: #59FF97;
$color-blue-active: #ffe368;
// $color-blue: #33DDFF;
// $color-blue-active: #29d8cc;
$color-background: #FFE9E8;
// $color-background: #E8FCF0;
$color-logo: #5757FF;

$border-standard-width: 4px;
$border-standard-color: $color-outline;
$border-standard-radius: 1.15rem;

html {
  background-color: $color-background;
}

.App {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -55%);

  background-color: $color-background;
  text-align: center;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 900;
  font-style: normal;
}

#app-container {
  max-width: 500px;
  border: $color-outline;
}

ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

#logo-stack {
  display: flex;
  justify-content: left;
}

.logo-text {
  margin-bottom: 10px;
  align-self: flex-start;
  color: $color-logo;

  // font-family: "hwt-gothic-round", sans-serif;
  // font-weight: 900;
  // font-style: normal;
  font-family: "report", sans-serif;
font-weight: 900;
font-style: normal;
}

// .app-card {
//   background-color: $color-background;
// }


// .button {
//   max-width: 150px;
// }

.border-standard {
  border-width: $border-standard-width !important;
  border-color: $border-standard-color !important;
  border-radius: $border-standard-radius !important;
}

.button-standard {
  display: flex !important;
  justify-content: center;
  align-items: center;

  font-weight: 700 !important;
}

.button-group-primary {
  width: 100%;
}

.toggle-button-primary {
  width: 100%;

  color: $color-dark !important;

  border-color: $border-standard-color !important;
  border-width: $border-standard-width !important;
  border-radius: $border-standard-radius !important;
  padding-left: 10px;

  margin-bottom: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#weightInput {
  border-top-left-radius: $border-standard-radius;
  border-bottom-left-radius: $border-standard-radius;

  border-top-width: $border-standard-width;
  border-left-width: $border-standard-width;
  border-bottom-width: $border-standard-width;
  border-right-width: 2px;

  border-color: $border-standard-color;

  font-weight: 700 !important;
}

#weightDropdown {
  border-top-right-radius: $border-standard-radius;
  border-bottom-right-radius: $border-standard-radius;

  border-top-width: $border-standard-width;
  border-right-width: $border-standard-width;
  border-bottom-width: $border-standard-width;

  border-color: $border-standard-color;

  width: 4rem;

  font-weight: 700 !important;

  // &:active {
  //   background-color: $color-primary-active;
  // }
  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    background-color: #36e275;
  }
}



#submitButton {
  background-color: $color-blue;
  font-weight: 700 !important;
  color: $border-standard-color;

  &:active {
    background-color: $color-blue-active;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
