@import "./App.scss";

$color-footer-link: #bb9c2a;
$color-hover: #2627FF;

#footer-container {
  // color: $color-medium-grey !important;

  a {
    color: $color-link;
    text-decoration: none;

    &:active,
    &:hover {
      color: #2627FF;
    }
  }
}

svg {
  overflow: visible;
}



#link-mail,
#link-code {
  color: $color-link;
  padding-right: 10px;

  line,
  rect,
  path {
    stroke: $color-link !important;
  }

  &:hover {
    line,
    rect,
    path {
      stroke: $color-hover !important;
    }
  }
}

#link-website {
  path,
  line {
    fill: $color-link !important;
    stroke: $color-link !important;
  }

  &:hover {
    path,
    line {
      fill: $color-hover !important;
      stroke: $color-hover !important;
    }
  }
}