@import "./App.scss";

$color-footer-link: #bb9c2a;
$color-hover: #2627FF;

#footer-container {
  a {
    color: $color-link;
    text-decoration: none;
  }
}

svg {
  overflow: visible;
}



#link-mail,
#link-code {
  color: $color-link;
  padding-right: 10px;

  line,
  rect,
  path {
    stroke: $color-link !important;
  }
}

#link-website {
  path,
  line {
    fill: $color-link !important;
    stroke: $color-link !important;
  }
}